<link rel="icon" href="/static/img/logo.png  " type="image/x-icon">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome Icons -->
<link rel="stylesheet" href="/static/template/plugins/fontawesome-free/css/all.min.css">
<!-- IonIcons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/static/template/distr/css/adminlte.css">
<!-- jquery confirm -->
<link rel="stylesheet" href="/static/template/plugins/jquery-confirm/jquery-confirm.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="/static/template/plugins/select2/css/select2.min.css">
<style>
    .table {
        font-size: 12px;
    }
</style>
<body>
    <div class="col-12" style="font-family: 'Rubik', sans-serif;width:100%;height:100%;" id="printArea">
       <div class="row">
          <div class="col-12 py-3 px-5 justify-content-center container-fluid" >
             <div class="row">
                <div class="col-12 mb-4 text-center">
                    <div class="row">
                        <div class="col-2">
                            <img src="/static/img/logo-pemerintah-aceh.png" alt="Outlet Pulsa"  style="opacity: .8;background-color: white;">
                        </div>
                        <div class="col-8">
                            <h3 class="mb-0">PEMERINTAH ACEH</h3>
                            <h5 class="mb-0">DINAS PENDIDIKAN ACEH</h5>
                            <h5 class="mb-0"><%= nama_sekolah %></h5>
                            <h6 class="mb-0" style="font-size: 14px;"><%= alamat_sekolah %></h6>
                            <h6 class="mb-0" style="font-size: 14px;">Webside: <%= alamat_website %>. Email. <%= email %></h6>
                        </div>
                        <div class="col-2">
                            <img src="/static/img/logo-sman9-kop.png" alt="Outlet Pulsa"  style="opacity: .8;background-color: white;">
                        </div>
                        <hr class="w-100 mt-3 mb-4" style="border-top: 3px solid rgb(0 0 0);">
                        <div class="col-12">
                            <h6 class="mb-1">DAFTAR HADIR GURU DAN TENDIK SMA NEGERI 9 ACEH BARAT DAYA</h6> 
                            <!-- <h6 class="mb-5">BULAN : ..........   /   TAHUN : .......... </h6> 
                            <h6 class="mb-3">TABEL DAFTAR HADIR</h6> -->
                        </div>
                    </div>
                </div>
                <div class="col-12 ">
                    <table class="table">
                        <thead>
                            <tr>
                                <td class="border" style="width: 3%;"><center>NO</center></td>
                                <td class="border" style="width: 20%;"><center>NAMA/NIP</center></td>
                                <td class="border" style="width: 15%;"><center>STATUS</center></td>
                                <td class="border" style="width: 15%;"><center>WAKTU MASUK</center></td>
                                <td class="border" style="width: 15%;"><center>WAKTU KELUAR</center></td>
                                <td class="border" style="width: 15%;"><center>KET</center></td>
                                <td class="border" style="width: 17%;"><center>TANGGAL</center></td>
                            </tr>
                        </thead>
                        <tbody>
                            <% if ( Object.keys(list).length > 0 ) { %>
                                <% for( let index = 0; index < Object.keys(list).length; index++ ) { %>
                                    <tr>
                                        <td><center><%= index + 1 %></center></td>
                                        <td>
                                            <%= list[index].nama %>
                                            <br>NIP: <%= list[index].nip %>
                                            <br>Jabatan: <span style="text-transform: uppercase;font-weight: bold;"><%= list[index].jabatan %> </span>
                                        </td>
                                        <td style="text-transform: uppercase;"><center><%= list[index].status == '' ? '-' : list[index].status  %></center></td>
                                        <td><center><%= list[index].waktu_masuk != null ?  list[index].waktu_masuk : '-'%></center></td>
                                        <td><center><%= list[index].waktu_keluar != null ? list[index].waktu_keluar : '-' %></center></td>
                                        <td><center><%= list[index].ket == 'cutihamil' ? 'cuti hamil' : list[index].ket %></center></td>
                                        <td><center><%= list[index].tanggal %></center></td>
                                    </tr>
                                <% } %>
                            <% } else { %>
                                <tr>
                                    <td colspan="6"><center>Data absensi guru & tendik tidak ditemukan</center></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="col-4 mt-5">
                    <div class="row">
                        <div class="col-12">
                            <h6 class="mb-3">REKAP KEHADIRAN</h6> 
                        </div>
                        <div class="col-12">
                            <table class="table">
                                <tr>
                                    <td class="py-1 px-0" style="width: 40%;border: none;">HADIR</td>
                                    <td class="py-1 px-0" style="width: 5%;border: none;"> : </td>
                                    <td class="py-1 px-0" style="border: none;"><%= rekap.hadir %> Orang</td>
                                </tr>
                                <tr>
                                    <td class="py-1 px-0" style="border: none;">DINAS LUAR</td>
                                    <td class="py-1 px-0" style="border: none;"> : </td>
                                    <td class="py-1 px-0" style="border: none;"><%= rekap.dinasluar %> Orang</td>
                                </tr>
                                <tr>
                                    <td class="py-1 px-0" style="border: none;">IZIN</td>
                                    <td class="py-1 px-0" style="border: none;"> : </td>
                                    <td class="py-1 px-0" style="border: none;"><%= rekap.izin %> Orang</td>
                                </tr>
                                <tr>
                                    <td class="py-1 px-0" style="border: none;">CUTI HAMIL</td>
                                    <td class="py-1 px-0" style="border: none;"> : </td>
                                    <td class="py-1 px-0" style="border: none;"><%= rekap.cutihamil %> Orang</td>
                                </tr>
                                <tr>
                                    <td class="py-1 px-0" style="border: none;">SAKIT</td>
                                    <td class="py-1 px-0" style="border: none;"> : </td>
                                    <td class="py-1 px-0" style="border: none;"><%= rekap.sakit %> Orang</td>
                                </tr>
                                <tr>
                                    <td class="py-1 px-0" style="border: none;">TANPA KETERANGAN</td>
                                    <td class="py-1 px-0" style="border: none;"> : </td>
                                    <td class="py-1 px-0" style="border: none;"><%= (typeof rekap['Tanpa Keterangan'] !== 'undefined' ? rekap['Tanpa Keterangan'] : 0) +
                                        (typeof rekap['tidak hadir'] !== 'undefined' ? rekap['tidak hadir'] : 0) %> Orang</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                </div>
                <div class="col-4 mt-5">
                    <h6 class="mb-1"><%= alamat %>, <%= tanggal %></h6> 
                    <h6 class="mb-5 pb-5">Kepala Sekolah,</h6> 
                    <h6 class="mt-5"><%= kepala_sekolah %></h6>
                    <h6 class="mt-0">NIP. <%= nip %></h6>
                </div>
             </div>
          </div>
       </div>
     </div>
 </body>
 <script src="/static/template/plugins/jquery/jquery.min.js"></script>
<!-- bootstrap -->
<script src="/static/template/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE -->
<script src="/static/template/distr/js/adminlte.js"></script>
<!-- OPTIONAL SCRIPTS -->
<script src="/static/template/plugins/chart.js/Chart.min.js"></script>
<!-- Dashboard 3 -->
<script src="/static/template/distr/js/pages/dashboard3.js"></script>
<!-- jquery confirm -->
<script src="/static/template/plugins/jquery-confirm/jquery-confirm.min.js"></script> 
<!-- My Frame -->
<script src="/static/app/myframes/myframe.js"></script>
<!-- Ckeditor -->
<script src="/static/template/plugins/ckeditor/ckeditor.js"></script>
<!-- Select2 -->
<script src="/static/template/plugins/select2/js/select2.min.js"></script>
<script type="text/javascript">
         printDiv('printArea');
         function printDiv(divName) {
            
              var printContents = document.getElementById(divName).innerHTML;
              var originalContents = document.body.innerHTML;
              document.body.innerHTML = printContents;
              window.print();
              document.body.innerHTML = originalContents;
          }
       window.onafterprint = function(){
          window.open('','_parent','');
          window.close();
       }
    </script>