<div class="row fixed-top justify-content-center splash overflow-auto" style="background-color: #3c4437;font-size: 13px;color: white;">
     <div class="col-12 col-md-9 col-lg-7 py-1">
          <div class="row">
               <div class="col-12 col-md-9 col-lg-6 px-5 px-lg-0">
                    <i class="fas fa-map-marker-alt mr-2"></i>
                    <span class="inline-block"><%= rightSideData.mediaSosial['Alamat'].url %></span>
               </div>
               <div class="col-6 col-md-3 col-lg-6 text-right d-none d-lg-block">
                    <!-- <a class="mx-2 fr-font-style" target="_blank" href="<%= rightSideData.mediaSosial['Facebook'].url %>"><i class="fab fa-facebook"></i></a>
                    <a class="mx-2 fr-font-style" target="_blank" href="<%= rightSideData.mediaSosial['Email'].url %>"><i class="fab fa-google-plus-g"></i></a>
                    <a class="mx-2 fr-font-style" target="_blank" href="<%= rightSideData.mediaSosial['Twitter'].url %>"><i class="fab fa-twitter"></i></a>
                    <a class="mx-2 fr-font-style" target="_blank" href="<%= rightSideData.mediaSosial['Instagram'].url %>"><i class="fab fa-instagram"></i></a>
                    <a class="mx-2 fr-font-style" target="_blank" href="<%= rightSideData.mediaSosial['Whatsapp'].url %>"><i class="fab fa-whatsapp"></i></a> -->
               </div>
          </div>
     </div>
</div>